@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  min-width: 342px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: $backgroundBody;
  color: $white;
}

a {
  text-decoration: none;
  color: $white;
}

li {
  list-style: none;
}

.link__black {
  border-radius: 5px;
  background: $black;
  padding: 6px 8px;
}


// Keyframes Header-Footer
$backgroundHeader: backgHeader 3s infinite alternate linear;

@keyframes backgHeader {
  0% {
    background: linear-gradient(to right, $opaqueWhite, $white, $opaqueWhite);
  }

  100% {
    background: linear-gradient(to right, $white, $opaqueWhite, $white);
  }
}